@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

/* Base styles */
body {
  min-height: 100vh;
  background-color: #fcfcfc;
  /* font-size: 1.1rem; */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

/* ✅ Fixing layout overflow issue */
.app-content {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 100px; /* ✅ Prevent bottom content like pagination from getting cut */
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor {
  cursor: pointer;
}
